
.main-container {
    display: flex;
    flex-direction: column;
    font-family: Sans-Serif;
    background: linear-gradient(135deg, #fdfbfb, #ebedee);
    height: 100vh;

}

.heading {
    font-weight: bold;
    margin-left: 30px;
}

.counter-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: solid 2px #e0e0e0;
    padding: 30px;
}

.counter-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.value {
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
}

.btn1:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: red;
    color: white;
    transition: all 0.5s ease;
}

.btn2:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

.btn3:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: green;
    color: white;
    transition: all 0.5s ease;
}

.btn3 {
    border: solid 1px green;
    color: green;
}

.btn1 {
    border: solid 1px red;
    color: red;
}

.btn2 {
    border: solid 1px black;
    color: black;
}

.inc-style {
    color: green;
}

.dec-style {
    color: red;
}

.reset-style {
    color: black;
}